################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Scot.Services.ProductAPI/obj
/Scot.Web/obj
/Scot.Services.Identity/bin/Debug/net6.0
/Scot.Services.Identity/obj
